[submodule "JohnTheRipper"]
	path = JohnTheRipper
	url = https://github.com/magnumripper/JohnTheRipper.git
[submodule "impacket"]
	path = impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists.git
